body {
    background: #0b0f19;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4fc3f7;
}

.grid, .sensor-grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
}

.sensor-grid {
    grid-template-columns: repeat(4, 1fr);
}

.card, .sensor-card, .ai-box, .mode-box {
    padding: 20px;
    background: #151c2e;
    border-radius: 15px;
    box-shadow: 0 0 20px #0ff3;
    animation: glow 3s infinite;
}

@keyframes glow {
    0% { box-shadow: 0 0 10px #00eaff33; }
    50% { box-shadow: 0 0 20px #00eaff77; }
    100% { box-shadow: 0 0 10px #00eaff33; }
}

button {
    padding: 10px 20px;
    border: none;
    background: #00eaff;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.status-text {
    font-size: 30px;
    margin: 10px 0;
    color: #00eaff;
}

.sensor-value {
    font-size: 26px;
    color: #ffca28;
}

.sec-title {
    margin-top: 40px;
    font-size: 26px;
    color: #4dd0e1;
}

.ai-box {
    font-size: 22px;
    padding: 20px;
    border-left: 5px solid #00eaff;
}
